<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="icon" type="image/x-icon" href="/imgs/logoIcon.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/index.css">
    <script src="/js/index.js"></script>
    <title>ITy |  <% if (user) { %> <%= user.nom %> <% } else { %> <%= title %> <% } %></title>
</head>
<body id="body">
    <div class="navv">
        <div>
            <a class="a" href="/">
                <img class="d" src="/imgs/logoWidth.png" alt="">
            </a>
        </div>

        <% if (user) { %>
            <%- include("./partials/navbar.ejs") %>
        <% } %>
    </div>

    <div class="main">
        <%- include("./partials/addArticleForm.ejs") %>
        <form class="search" action="">
            <i class='searchIcon bx bx-search-alt'></i>
            <input id="searchBar" type="text" name="searchBar" placeholder="Type a category ...">
        </form>

        <div id="searchRes">
        <% for(let i = 0; i < articles.length; i++) { %> 
            <div class="post">
                <div class="avatarDiv">
                    <a href="/profile/<%= articles[i].author.id %>">
                        <div class="avatar">
                            <img src="/imgs/profile.png" alt="">
                        </div>
                    </a>
                </div>

                <div class="contentPost">
                    <div class="postInfo">
                        <div class="postClick" value="<%= articles[i].id %>">
                            <p class="username"> <%= articles[i].author.nom %> 
                                <span>
                                    <% if (timing[i].days != 0) { %>
                                        - <%= timing[i].days %> days
                                    <% } else if (timing[i].hours != 0) { %> 
                                        - <%= timing[i].hours %> hours
                                    <% } else if (timing[i].mins != 0) { %>
                                        - <%= timing[i].mins %> mins
                                    <%} else if (timing[i].secs != 0) { %>
                                        - <%= timing[i].secs %> seconds
                                    <%} else { %>
                                        - now
                                    <% } %>
                                </span>
                            </p>

                            <div class="categoriesList">
                                <% for (let k = 0; k < categories.length; k++) { %>
                                    <% for (let j = 0; j < articles[i].categories.length; j++) { %> 
                                        <% if (articles[i].categories[j].categorieID == categories[k].id) { %>
                                            <div class="category"> <%= categories[k].nom %> </div>
                                        <% } %>
                                    <% } %>
                                <% } %>
                            </div>
        
                            <p class="postDescription">
                                <h5><%= articles[i].titre %></h5>
                                <%= articles[i].contenu %>
                            </p>

                            <% if (articles[i].image) { %> 
                                <div class="postPic">
                                    <img src="<%= articles[i].image %>" alt="">
                                </div>
                            <% } %>
                        </div>

                        <% if (articles[i].published == 1) { %>
                            <div class="display">
                                <div class="cmntTypeDiv">
                                    <div class="profil">
                                        <div class="profileAvatar">
                                            <img src="/imgs/profile.png" alt="">
                                        </div>
                                    </div>
                                    <div class="typeCmnt">
                                        <form class="formComment" action="">
                                            <textarea class="cmntTextarea contents" id="contentComment" name="" placeholder="Laissez un commentaire ..."></textarea>
                                            <input type="hidden" class="keys" id="key" value="<%= articles[i].id %>"> <br>
                                            <input type="submit" class="submit" value="reply" disabled>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                    </div>

                    <% if (articles[i].published == 1) { %>
                        <div class="reactPost" >
                            <div class="prince">
                                <div class="reactCardCmnt">
                                    <div class="cmntDiv reactIcon">
                                        <a style="color: black; text-decoration: none; font-weight: 800"><i id="cmntIcon" class='bx bx-message-rounded'></i></a>
                                    </div>
                                    <div class="desc">
                                        <%= articles[i].commentaires.length %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>
        <% }%>
        </div>
    </div>

    <div class="auth">
        <% if (!user) { %>
            <div class="authForm">
                <p class="h">Nouveauté sur <span>IT</span>y ?</p>
                <p class="des">Inscrivez-vous pour profiter de votre propre fil personnalisé !</p>
                <div>
                    <button class="signup" id="sign"> Sign up </button>
                    <div class="logLink">
                        <a href="/login"> Already have an account ? </a>
                    </div>
                </div>
            </div>
        <% } else { %>
            <%- include("./partials/info.ejs") %>
        <% } %>
    </div>
</body>
</html>