<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="icon" type="image/x-icon" href="/imgs/logoIcon.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/profile.css">
    <script src="/js/profile.js"></script>
    <title>ITy | <% if (user) { %> <%= user.nom %> <% } %></title>
</head>
<body id="body">
    <div class="navv">
        <div class="d">
            <a class="d" href="/">
                <img class="d" src="/imgs/logoWidth.png" alt="">
            </a>
        </div>

        <%- include("./partials/navbar.ejs") %>
    </div>

    <div class="main">
        <%- include("./partials/back.ejs") %>

        <%- include("./partials/addArticleForm.ejs") %>

        <div class="userDiv">
            <div class="bg"></div>

            <div class="picImg">
                <img src="/imgs/profile.png" alt="">
            </div>

            <div class="infos">
                <p style="margin-bottom: 0;">
                    <% if(friend) { %> <%= friend.nom  %> <% } else { %> <%= user.nom  %> <% } %>
                </p>
                <p class="emaill" style="margin-bottom: 0;">
                    <% if(friend) { %> <%= friend.email  %> <% } else { %> <%= user.email  %> <% } %>
                </p>
            </div>
        </div>

        <% if (articles == "") { %>
            <div class="empty">
                There's no articles &#128532;
            </div>
        <% } %>

        <% for(let i = 0; i < articles.length; i++) { %> 
            <div class="post" value="<%= articles.id %>">
                <div class="avatarDiv">
                    <a href="">
                        <div class="avatar">
                            <img src="/imgs/profile.png" alt="">
                        </div>
                    </a>

                    

                    <div class="postOptions">
                        <% if (!friend) { %>
                            <div class="modifOp">
                                <button type="button" data-toggle="modal" data-target="#modModal<%= i %>">
                                    <i class='bx bxs-edit editIcon'></i>
                                </button>
                            </div>
                            <div class="modal fade" id="modModal<%= i %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    <div class="modal-body">
                                        <form id="form" class="addArticle modForm" enctype="multipart/form-data">
                                            <div class="avatarDiv">
                                                <a href="">
                                                    <div class="avatar">
                                                        <img src="/imgs/profile.png" alt="">
                                                    </div>
                                                </a>
                                            </div>
    
                                            <div class="fields">
                                                <div>
                                                    <div class="mb-3">
                                                        <select id="published<%= i %>" name="published" class="form-select fSel" aria-label="Default select example" style="width: 100px">
                                                            <option value="true" <% if(articles[i].published == 1) { %> selected <% } %> >Public</option>
                                                            <option value="false" <% if(articles[i].published == 0) { %> selected <% } %> >Me only</option>
                                                        </select>
    
                                                        <div class="mb-3">
                                                            Categories :
                                                            <div style="display: flex; width: 100%; margin-bottom: 12px;">
                                                                <div style="width: 50%">
                                                                    <% for(let j = 0; j < categories.length; j++) { %>
                                                                        <% if (!(j % 2)) { %> 
                                                                            <div class="form-check">
                                                                                <input class="form-check-input categoryMod" name="category<%= i %>" type="checkbox" value="<%= categories[j].id %>" id="flexCheckDefault<%= j %>"
                                                                                    <% for (let k = 0; k < articles[i].categories.length; k++) { %>
                                                                                        <% if (articles[i].categories[k].categorieID === categories[j].id) { %> checked <% } %>
                                                                                    <% } %>
                                                                                >
                                                                                <label class="form-check-label" for="flexCheckDefault<%= j %>"> <%= categories[j].nom %> </label>
                                                                            </div>
                                                                        <% } %>
                                                                    <% } %>
                                                                </div>
                                                                <div style="width: 50%">
                                                                    <% for(let j = 0; j < categories.length; j++) { %>
                                                                        <% if (j % 2) { %> 
                                                                            <div class="form-check">
                                                                                <input class="form-check-input categoryMod" name="category<%= i %>" type="checkbox" value="<%= categories[j].id %>" id="flexCheckDefault<%= j %>"
                                                                                    <% for (let k = 0; k < articles[i].categories.length; k++) { %>
                                                                                        <% if (articles[i].categories[k].categorieID === categories[j].id) { %> checked <% } %>
                                                                                    <% } %>
                                                                                >
                                                                                <label class="form-check-label" for="flexCheckDefault<%= j %>"> <%= categories[j].nom %> </label>
                                                                            </div>
                                                                        <% } %>
                                                                    <% } %>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
    
                                                    <div class="mb-3">
                                                        <input id="title<%= i %>" name="title" type="text" class="form-control inp" id="exampleFormControlInput1" placeholder="Title" value="<%= articles[i].titre %>">
                                                    </div>
                        
                                                    <div class="mb-3">
                                                        <textarea id="contentMod<%= i %>" name="content" class="form-control ta" id="ta" placeholder="What are you thinking about ?"><%= articles[i].contenu %></textarea>
                                                    </div>
    
                                                    <div class="form-check">
                                                        <% if (articles[i].image) { %>
                                                            <input id="allow<%= i %>" class="form-check-input" name="deleteImg" type="checkbox" value="<%= articles[i].image %>" id="flexCheckDefault">
                                                            <label class="form-check-label" for="flexCheckDefault">
                                                                Delete the image
                                                            </label>
                                                        <% } %>
                                                        <input type="submit" class="modRealBtn" style="display: none;">
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary modFakeBtn">Modify the article</button>
                                    </div>
                                  </div>
                                </div>
                            </div>
    
    
                            <div class="suppOp">
                                <button type="button" data-toggle="modal" data-target="#delModal<%= i %>">
                                    <i class='bx bxs-trash suppIcon'></i>
                                </button>
                            </div>
                            <div class="modal fade" id="delModal<%= i %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    <div class="modal-body">
                                        Are you sure that you want delete the article that has the title <b><%= articles[i].titre %></b>
                                        <form class="formDelete">
                                            <input type="hidden" class="delKeys" value="<%= articles[i].id %>">
                                            <button type="submit" class="delBtnReal" style="display: none;"></button>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-danger delBtnFake">Delete the article</button>
                                    </div>
                                  </div>
                                </div>
                            </div>
                        <% } %>
                    </div>
                </div>
        
                <div class="contentPost">
                    <div class="postInfo">
                        <div class="postClick" value="<%= articles[i].id %>">
                            <p class="username"> <% if(friend) { %> <%= friend.nom  %> <% } else { %> <%= user.nom  %> <% } %>
                                <span>
                                    <% if (timing[i].days != 0) { %>
                                        - <%= timing[i].days %> days
                                    <% } else if (timing[i].hours != 0) { %> 
                                        - <%= timing[i].hours %> hours
                                    <% } else if (timing[i].mins != 0) { %>
                                        - <%= timing[i].mins %> mins
                                    <%} else if (timing[i].secs != 0) { %>
                                        - <%= timing[i].secs %> seconds
                                    <%} else { %>
                                        - now
                                    <% } %>
                                </span>
                                <% if (articles[i].published == 1) { %> 
                                    <i class='bx bx-world'></i> 
                                <% } else { %>
                                    <i class='bx bxs-lock-alt'></i>
                                <% } %>
                            </p>

                            <div class="categoriesList">
                                <% for (let k = 0; k < categories.length; k++) { %>
                                    <% for (let j = 0; j < articles[i].categories.length; j++) { %> 
                                        <% if (articles[i].categories[j].categorieID == categories[k].id) { %>
                                            <div class="category"> <%= categories[k].nom %> </div>
                                        <% } %>
                                    <% } %>
                                <% } %>
                            </div>
        
                            <p class="postDescription">
                                <h5><%= articles[i].titre %></h5>
                                <%= articles[i].contenu %>
                            </p>

                            <% if (articles[i].image) { %> 
                                <div class="postPic">
                                    <img src="<%= articles[i].image.slice(1) %>" alt="">
                                </div>
                            <% } %>
                        </div>

                        <% if (articles[i].published == 1) { %>
                            <div class="display">
                                <div class="cmntTypeDiv">
                                    <div class="profil">
                                        <div class="profileAvatar">
                                            <img src="/imgs/profile.png" alt="">
                                        </div>
                                    </div>
                                    <div class="typeCmnt">
                                        <form class="formComment" action="">
                                            <textarea class="cmntTextarea contents" id="contentComment" name="" placeholder="Laissez un commentaire ..."></textarea>
                                            <input type="hidden" class="keys" id="key" value="<%= articles[i].id %>"> <br>
                                            <input type="submit" class="submit" value="reply" disabled>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                    </div>

                    <% if (articles[i].published == 1) { %>
                        <div class="reactPost" >
                            <div class="prince">
                                <div class="reactCardCmnt">
                                    <div class="cmntDiv reactIcon">
                                        <a style="color: black; text-decoration: none; font-weight: 800"><i id="cmntIcon" class='bx bx-message-rounded'></i></a>
                                    </div>
                                    <div class="desc">
                                        <%= articles[i].commentaires.length %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>
        <% }%>
    </div>

    <div class="auth">
        <!-- <div class="logout"> Logout </div> -->
        <%- include('./partials/info.ejs') %>
    </div>
</body>
</html>